.logodiv {
    text-align: center;
    margin-top: 130px;
}

.titlex {
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
}

.list {
    padding-left: 25px;
    padding-right: 25px;
    height: 30px;
    cursor: pointer;
}

.postname {
    float: left;
}

.posttime {
    float: right;
}

.logopng {
    width: 315px;
}

.breadcrumb {
    padding: 8px 15px;
    list-style: none;
    background-color: initial;
    border-radius: 0px;
    text-align: center;
}

.title-year {
    color: #6d9ee7;
}

.logot {
    font-family: 'MiSans', serif;
    font-weight: bold;
    font-size: 25px;
    margin-top: -8px;
    margin-bottom: -20px;

    a {
        color: #51525d;

        &:hover {
            text-decoration: none;
        }
    }
}

.logot .logo_1 {
    color: #888888;
}

.logot .logo_2 {
    color: #6d9ee7;
}

.logot .logo_3 {
    color: #be8355;
}

.navd {
    padding-top: 14px;
}

.headt {
    border-bottom: 1px solid #efefef;
    height: 50px;
}

.fh {
    top: 24px;
    position: absolute;
}

hr {
    border-color: #58606b;
}

@media screen and (max-width: 800px) {
    .logopng {
        width: 210px;
    }
}